@model Oval

<div>
	<svg class="center-block" width="@Model.Width" height="@Model.Height">
		<ellipse fill="green" cx="@Model.X" cy="@Model.Y" rx="@Model.XRadius" ry="@Model.YRadius"></ellipse>
	</svg>
</div>
